---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{{ content }}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% capture cat_name %}{{ category | first }}{% endcapture %}
    {% assign site_cats = site.publications | group_by: 'category' %}
    {% for cat in site_cats %}
      {% if cat.name == cat_name %}
        <h3 id="{{ cat[0] | slugify }}" class="archive__subtitle">{{ category[1].title }}</h3>
        {% for post in cat.items %}
          {% include archive-single.html type=page.entries_layout %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}
